280NPLIST;1.0;D;K;18;CPBundleIdentifierS;19;com.tolmasky.AceKitK;29;CPBundleInfoDictionaryVersiond;1;6K;12;CPBundleNameS;6;AceKitK;19;CPBundlePackageTyped;1;1K;15;CPBundleVersionS;3;0.1K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;9;AceKit.sjK;36;CPBundleEnvironmentsWithImageSpritesA;E;E;